.receivers-list {
	list-style-type: none;
	text-align: left;
}



#receivers-list-header {
	text-align: center;
	font-family: "Azeret Mono", monospace;
	font-size: 3em;
	margin-top: .5em;
	margin-bottom: .5em;
}

#receivers-table-top-row {
	background-color: #333;
}

#receivers-list-table {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans';
	border: 1px ;
	border-radius: 8px;
}

.receivers-table-body-row {
	background-color: rgb(50, 66, 83);
}

#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: rgb(50, 66, 83);
	color: rgb(255, 228, 196);
	text-align: center;
	border-radius: 8px;
	border-style: solid;
	border-width: .125em;
	border-color: antiquewhite;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.show {
	visibility: visible;
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}