.receivers-list {
	list-style-type: none;
	text-align: left;
}

#receivers-list-header {
	text-align: center;
}

#receivers-table-top-row {
	background-color: #333;
}

#receivers-list-table {
	text-align: center;
	margin-left: auto;
	margin-right:auto
}

.receivers-table-body-row {
	background-color: rgb(50, 66, 83);
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.show {
  visibility: visible;
}

@keyframes fadein {
  from { bottom: 0; opacity: 0; }
  to { bottom: 30px; opacity: 1; }
}

@keyframes fadeout {
  from { bottom: 30px; opacity: 1; }
  to { bottom: 0; opacity: 0; }
}
