<div class="container">
	<h2 id="receivers-list-header">List of Receivers </h2>
	<table id="receivers-list-table" class="table table-bordered table-xs">
		<tr id="receivers-table-top-row">
			<th>Delete</th>
			<th>Name</th>
			<th>Grade</th>
		</tr>

		<tr *ngFor="let receiver of currentPageReceivers" class="receivers-table-body-row">
			<td>
				<button type="button" title="Are you sure you want to delete?" class="btn btn-danger"
					(click)="deleteReceiver(receiver.id)">Delete</button>
				<div id="snackbar" [ngClass]="{ 'show': showSnackbarMessage}">Receiver Deleted</div>
				<!--this click here is a click even in angular and the deleteREceiver() is a refrence to the function I want to call on click-->
			</td>
			<td>
				<a routerLink="/receivers/{{receiver.id}}">
					<button class="btn btn-tertiary" id="receiver-name">{{ receiver.name }}</button>
				</a>
			</td>
			<td>
				{{ receiver.grade }}
			</td>
		</tr>

		<tr class="receivers-table-body-row">

		</tr>
	</table>
	<span id="prev-btn">
		<button type="button" (click)="previousPage()" class="btn btn-secondary">&lt;Prev</button>
	</span>
	<span id="nxt-btn">
		<button type="button" (click)="nextPage()" class="btn btn-tertiary">Next&gt;</button>
	</span>

</div>

<!-- <tr *ngFor="let item of userResults">
		<td>{{ item.key }}</td>
		<td>{{ item.value }}</td>
	</tr>   this is code snipped to use ngFor to generate a table-->